//colores
$black: #000;
$white: #fff;
$cyan: #37BBD2;
$second: #108094;
$third: #106473;
$grey1:  #959595;
$wine: #3A2D2D;
$musgo: #06272D;
$tierra: #979797;
$fluor: #EAFF04;
$line: #849396;

//fonts
$fontSizeG: 16;
/*$mRegular: 'mullerregular';
$mMedium: 'mullermedium';
$mBlack: 'mullerblack';
$rbtRegular:'robotoregular';
$rbtLigth:'robotolight';
$rbtMedium: 'robotomedium';
$rbtMediumI: 'robotomedium_italic';*/
$rbtRegular: 'robotoRegular';
$rbtMedium: 'robotoMedium';
$rbtBold: 'robotoBold';

//para los mixins
/*$btn-form: 16, $cyan, true;
$btn-form2: 16, $white, true;
$btn-form3: 16, $cyan, true;
$btn-link: 16;*/
/*$icon-rs: 28;
$icon-rs-footer: 28, $white;

/*$slc-filter: $white, '../img/flecha-select-abajo.jpg';
$slc-search: $white, '../img/lupa.jpg';
$slc-search-by: $white, '../img/flecha-select-abajo.jpg', $grey1;
$slc-category-info: $grey2, '../img/flecha-select-derecha.jpg';*/