//colores
$black: #000;
$white: #fff;
$cyan: #37BBD2;
$second: #108094;
$third: #106473;
$grey1:  #959595;
$wine: #3A2D2D;
$musgo: #06272D;
$tierra: #979797;
$fluor: #EAFF04;
$line: #849396;

//fonts
$fontSizeG: 16;
$rbtRegular: 'robotoRegular';
$rbtMedium: 'robotoMedium';
$rbtBold: 'robotoBold';
